In [42]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from tqdm.auto import tqdm
from sklearn.metrics import mean_squared_error

In [43]:
train_df= pd.read_csv('Train.csv')

In [44]:
train_df.shape

(3132, 9)

In [45]:
train_df.head()

   A      B      C      D       E       F       G      H  Target
0  F  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274       9
1  F  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220      12
2  M  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405      10
3  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150      15
4  M  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350       6

In [46]:
## Label encoding column A of our dataset
from sklearn import preprocessing
  
# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
train_df['A']= label_encoder.fit_transform(train_df['A'])
  
train_df['A'].unique()

array([0, 2, 1])

In [47]:
X = train_df.drop(['Target','A'], axis=1)
y = train_df['Target']

In [48]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2)

In [64]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=4)
X_multi_trans = poly.fit_transform(X)

In [65]:
X_train, X_val, y_train, y_val = train_test_split(X_multi_trans, y, test_size = 0.2)

In [66]:
lin_reg_2 =LinearRegression()  
lin_reg_2.fit(X_multi_trans, y)

LinearRegression()

In [67]:
y_pred = lin_reg_2.predict(X_multi_trans)

In [68]:
error= mean_squared_error(y, y_pred)
print(error)

3.5041208484270414

In [69]:
y_pred2 = lin_reg_2.predict(X_val)

In [70]:
error2= mean_squared_error(y_val, y_pred2)
print(error)

3.5041208484270414

In [71]:
test_data = pd.read_csv('Test.csv')

In [72]:
test_data.head()

   Index  A      B      C      D       E       F       G      H
0    866  M  0.605  0.455  0.160  1.1035  0.4210  0.3015  0.325
1   1483  M  0.590  0.440  0.150  0.8725  0.3870  0.2150  0.245
2    599  F  0.560  0.445  0.195  0.9810  0.3050  0.2245  0.335
3   1702  F  0.635  0.490  0.170  1.2615  0.5385  0.2665  0.380
4    670  M  0.475  0.385  0.145  0.6175  0.2350  0.1080  0.215

In [73]:
test_data['A']= label_encoder.fit_transform(test_data['A'])

In [74]:
Index=test_data['Index']
test_data.drop(['Index'],axis=1,inplace=True)

In [75]:
test_data.drop(['A'],axis=1,inplace=True)

In [78]:
test_data1 = poly.fit_transform(test_data)
y_test = lin_reg_2.predict(test_data1)

In [79]:
result = pd.DataFrame(Index, columns = ['Index'])
result['Target']= y_test

In [80]:
result

      Index     Target
0       866  12.008152
1      1483   9.041877
2       599  14.917084
3      1702  11.502017
4       670  12.745923
...     ...        ...
1040    532   9.861181
1041   3417   9.365192
1042   1505  11.548101
1043   2245  11.431083
1044   2428   9.121974

[1045 rows x 2 columns]

In [81]:
result.to_csv("submission3.csv", index=False)