In [90]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from tqdm.auto import tqdm
from sklearn.metrics import mean_squared_error

In [91]:
df=pd.read_csv('Train.csv')
df

      A      B      C      D       E       F       G      H  Target
0     F  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274       9
1     F  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220      12
2     M  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405      10
3     M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150      15
4     M  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350       6
...  ..    ...    ...    ...     ...     ...     ...    ...     ...
3127  F  0.490  0.400  0.115  0.5690  0.2560  0.1325  0.145       9
3128  F  0.670  0.550  0.190  1.3905  0.5425  0.3035  0.400      12
3129  M  0.510  0.395  0.125  0.5805  0.2440  0.1335  0.188      11
3130  M  0.575  0.465  0.120  1.0535  0.5160  0.2185  0.235       9
3131  F  0.595  0.475  0.160  1.1405  0.5470  0.2310  0.271       6

[3132 rows x 9 columns]

In [92]:
df.shape

(3132, 9)

In [93]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'Target'], dtype='object')

In [94]:
label_encoder = preprocessing.LabelEncoder()
df['A']= label_encoder.fit_transform(df['A'])
df['A'].unique()

array([0, 2, 1])

In [95]:
df

      A      B      C      D       E       F       G      H  Target
0     0  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274       9
1     0  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220      12
2     2  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405      10
3     2  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150      15
4     2  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350       6
...  ..    ...    ...    ...     ...     ...     ...    ...     ...
3127  0  0.490  0.400  0.115  0.5690  0.2560  0.1325  0.145       9
3128  0  0.670  0.550  0.190  1.3905  0.5425  0.3035  0.400      12
3129  2  0.510  0.395  0.125  0.5805  0.2440  0.1335  0.188      11
3130  2  0.575  0.465  0.120  1.0535  0.5160  0.2185  0.235       9
3131  0  0.595  0.475  0.160  1.1405  0.5470  0.2310  0.271       6

[3132 rows x 9 columns]

In [96]:
X=df.drop(['Target','A'], axis=1)
y=df['Target']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.1)

In [112]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=0.001, max_iter=1000, tol=0.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, tol=0.1)

In [113]:
y_pred = lasso_reg.predict(X_val)

In [114]:
mean_squared_error(y_val, y_pred)

4.251734361332899

In [115]:
y_pred1 = lasso_reg.predict(X_train)

In [116]:
mean_squared_error(y_train, y_pred1)

5.032992865182001

In [118]:
test_data = pd.read_csv('Test.csv')

In [119]:
test_data.head()

   Index  A      B      C      D       E       F       G      H
0    866  M  0.605  0.455  0.160  1.1035  0.4210  0.3015  0.325
1   1483  M  0.590  0.440  0.150  0.8725  0.3870  0.2150  0.245
2    599  F  0.560  0.445  0.195  0.9810  0.3050  0.2245  0.335
3   1702  F  0.635  0.490  0.170  1.2615  0.5385  0.2665  0.380
4    670  M  0.475  0.385  0.145  0.6175  0.2350  0.1080  0.215

In [120]:
Index=test_data['Index']
test_data.drop(['Index','A'],axis=1,inplace=True)

In [122]:
y_test = lasso_reg.predict(test_data)

In [123]:
result = pd.DataFrame(Index, columns = ['Index'])
result['Target']= y_test

In [124]:
result

      Index     Target
0       866  11.805665
1      1483  10.081829
2       599  13.986863
3      1702  12.063674
4       670  10.791820
...     ...        ...
1040    532   9.570586
1041   3417   9.570503
1042   1505  12.314739
1043   2245  10.544369
1044   2428   9.268062

[1045 rows x 2 columns]

In [125]:
result.to_csv("submission4.csv", index=False)