In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from tqdm.auto import tqdm
from sklearn.metrics import mean_squared_error

In [2]:
train_df = pd.read_csv('Train.csv')

In [3]:
train_df.shape

(3132, 9)

In [4]:
train_df

      A      B      C      D       E       F       G      H  Target
0     F  0.615  0.455  0.135  1.0590  0.4735  0.2630  0.274       9
1     F  0.515  0.395  0.140  0.6860  0.2810  0.1255  0.220      12
2     M  0.660  0.530  0.175  1.5830  0.7395  0.3505  0.405      10
3     M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150      15
4     M  0.495  0.400  0.155  0.8085  0.2345  0.1155  0.350       6
...  ..    ...    ...    ...     ...     ...     ...    ...     ...
3127  F  0.490  0.400  0.115  0.5690  0.2560  0.1325  0.145       9
3128  F  0.670  0.550  0.190  1.3905  0.5425  0.3035  0.400      12
3129  M  0.510  0.395  0.125  0.5805  0.2440  0.1335  0.188      11
3130  M  0.575  0.465  0.120  1.0535  0.5160  0.2185  0.235       9
3131  F  0.595  0.475  0.160  1.1405  0.5470  0.2310  0.271       6

[3132 rows x 9 columns]

In [5]:
from sklearn import preprocessing
  
# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
train_df['A']= label_encoder.fit_transform(train_df['A'])

In [6]:
train_df['A'].unique()

array([0, 2, 1])

In [7]:
X = train_df.drop(['Target'], axis=1)
y = train_df['Target']

In [8]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'poly',degree=5, tol=0.1, C=100 , gamma=0.5)
regressor.fit(X, y)

In [156]:
y_pred = regressor.predict(X_val)

In [157]:
mean_squared_error(y_val, y_pred)

5.812661650547765

In [158]:
y_pred1 = regressor.predict(X_train)

In [159]:
mean_squared_error(y_train, y_pred1)

6.054808091608547

In [149]:
test_df = pd.read_csv('Test.csv')

In [128]:
test_df

      Index  A      B      C      D       E       F       G      H
0       866  M  0.605  0.455  0.160  1.1035  0.4210  0.3015  0.325
1      1483  M  0.590  0.440  0.150  0.8725  0.3870  0.2150  0.245
2       599  F  0.560  0.445  0.195  0.9810  0.3050  0.2245  0.335
3      1702  F  0.635  0.490  0.170  1.2615  0.5385  0.2665  0.380
4       670  M  0.475  0.385  0.145  0.6175  0.2350  0.1080  0.215
...     ... ..    ...    ...    ...     ...     ...     ...    ...
1040    532  I  0.470  0.370  0.120  0.4705  0.1845  0.1055  0.155
1041   3417  M  0.580  0.460  0.150  1.0165  0.4910  0.2210  0.265
1042   1505  M  0.635  0.510  0.185  1.3080  0.5440  0.3180  0.377
1043   2245  M  0.460  0.375  0.140  0.5105  0.1920  0.1045  0.205
1044   2428  F  0.530  0.385  0.125  0.6695  0.2890  0.1510  0.180

[1045 rows x 9 columns]

In [150]:
test_df['A']= label_encoder.fit_transform(test_df['A'])

In [151]:
Index=test_df['Index']
test_df.drop(['Index'],axis=1,inplace=True)

In [152]:
y_test = regressor.predict(test_df)

C:\Users\ASHISH\anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but SVR was fitted without feature names
  warnings.warn(

In [153]:
result = pd.DataFrame(Index, columns = ['Index'])
result['Target']= y_test

In [154]:
result

      Index     Target
0       866  12.066488
1      1483  10.705984
2       599   9.166525
3      1702   9.137063
4       670  11.712028
...     ...        ...
1040    532   9.374742
1041   3417   9.767220
1042   1505  12.101394
1043   2245  12.000705
1044   2428   9.161564

[1045 rows x 2 columns]

In [117]:
result.to_csv("submission9.csv", index=False)